/* For Phones! */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  aside.hubscroll-nav-area {
    display: none; }

  section.hub-section {
    background-position: center center !important;
    width: device-width !important;
    height: device-height !important; }

  #mosaic-title-area h1 {
    font-size: 32px; }
  #mosaic-title-area h2 {
    font-size: 24px; }

  section.hub-section {
    opacity: 1; }
    section.hub-section div.hub-viewport .hub-photo-credit {
      position: absolute;
      top: 0;
      left: auto;
      right: 0;
      bottom: auto; }
      section.hub-section div.hub-viewport .hub-photo-credit.hub-photo-credit-right {
        left: auto;
        right: 0; }
    section.hub-section div.hub-viewport div.hub-country-title {
      position: absolute;
      width: 98%;
      top: 0; }
      section.hub-section div.hub-viewport div.hub-country-title h2 {
        font-size: 24px;
        background-color: transparent;
        color: #4e6c06;
        padding: 1%;
        margin: 0; }
    section.hub-section div.hub-viewport div.hub-country-stats {
      position: absolute;
      bottom: 110px;
      font-size: 24px;
      padding-left: 14px;
      width: 100%;
      background-color: transparent;
      color: #f47932;
      padding-right: 0.4em;
      right: auto;
      text-shadow: 0 1px 1px black; }
      section.hub-section div.hub-viewport div.hub-country-stats table {
        width: 90%;
        border-spacing: 0; }
        section.hub-section div.hub-viewport div.hub-country-stats table tr:first-child td {
          border: 2px solid #4d3535;
          border-width: 0 0 2px; }
        section.hub-section div.hub-viewport div.hub-country-stats table tr:last-child td {
          padding-top: 5px; }
        section.hub-section div.hub-viewport div.hub-country-stats table tr td {
          font-weight: bold;
          text-shadow: 0 1px 1px black; }

  #hub-slide-1, #hub-slide-1-a {
    background-image: url(../img/story/small/good-news.jpg); }
    #hub-slide-1 .hub-viewport #hub-slide-1-good-news, #hub-slide-1 .hub-viewport #hub-slide-1-bad-news, #hub-slide-1-a .hub-viewport #hub-slide-1-good-news, #hub-slide-1-a .hub-viewport #hub-slide-1-bad-news {
      background-color: transparent;
      margin-bottom: 110px; }
      #hub-slide-1 .hub-viewport #hub-slide-1-good-news h1, #hub-slide-1 .hub-viewport #hub-slide-1-bad-news h1, #hub-slide-1-a .hub-viewport #hub-slide-1-good-news h1, #hub-slide-1-a .hub-viewport #hub-slide-1-bad-news h1 {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        text-shadow: 0 1px 1px black; }
      #hub-slide-1 .hub-viewport #hub-slide-1-good-news p, #hub-slide-1 .hub-viewport #hub-slide-1-bad-news p, #hub-slide-1-a .hub-viewport #hub-slide-1-good-news p, #hub-slide-1-a .hub-viewport #hub-slide-1-bad-news p {
        text-transform: none;
        font-weight: normal;
        text-shadow: 0 1px 1px black;
        line-height: 1.2;
        font-size: 24px; }

  #hub-slide-1-a {
    background-image: url(../img/story/small/bad-news.jpg); }

  #hub-slide-2 #content-2-b {
    display: block;
    top: 114px; }
  #hub-slide-2 #chart-container {
    width: 100%;
    bottom: 70px; }
  #hub-slide-2 .content h2 {
    font-size: 16px;
    padding: 0 1em;
    margin-top: 11%; }

  #hub-slide-4 {
    background-image: url(../img/story/small/iraq.jpg); }

  #hub-slide-5 {
    background-image: url(../img/story/small/syria.jpg); }

  #hub-slide-6 {
    background-image: url(../img/story/small/004.jpg); }

  #hub-slide-7 {
    background-image: url(../img/story/small/005.jpg); }

  #hub-slide-8 {
    background-size: cover;
    background-image: url(../img/story/small/ukraine.jpg); }

  #hub-slide-10.hub-section {
    background-image: url(../img/story/small/006.jpg);
    background-position: center right !important; }

  #hub-slide-10-a.hub-section {
    background-image: url(../img/story/small/afghanistan.jpg);
    background-position: center right !important; }

  #hub-slide-12 {
    background-image: url(../img/story/small/007.jpg); }

  #hub-slide-14 {
    background-image: url(../img/story/small/somalia.jpg); }

  #hub-slide-15 {
    background-image: url(../img/story/small/vanuatu.jpg); }

  #hub-slide-19 h2 {
    font-size: 24px; }

  .hub-neutral-background div.content {
    width: 99%;
    padding: 0.5%; }
    .hub-neutral-background div.content h1 {
      font-size: 24px; }
    .hub-neutral-background div.content h2 {
      font-size: 16px;
      padding: 0 1em;
      font-weight: normal;
      line-height: 1.5; }

  #hub-call-to-action {
    background-image: url(../img/story/small/final.png); }
    #hub-call-to-action div.content h2 {
      font-size: 32px; }
    #hub-call-to-action div.content div#hub-call-to-action-area {
      background-color: transparent;
      padding: 2px 2px;
      margin: 0;
      border-radius: 0; }
      #hub-call-to-action div.content div#hub-call-to-action-area div.hub-call-to-action-3box {
        width: 100%;
        float: none;
        margin-right: 0;
        padding: 0; }
        #hub-call-to-action div.content div#hub-call-to-action-area div.hub-call-to-action-3box#call-download-report img {
          height: 75px;
          margin-right: 5px; }
        #hub-call-to-action div.content div#hub-call-to-action-area div.hub-call-to-action-3box h3 {
          text-align: center;
          text-shadow: 0 1px 1px black;
          color: #f47932;
          margin-bottom: 0px;
          font-size: 24px;
          margin-top: 20px; }
        #hub-call-to-action div.content div#hub-call-to-action-area div.hub-call-to-action-3box p {
          margin: 0;
          margin-bottom: 5px;
          font-size: 16px;
          text-align: center;
          padding: 1px 5px;
          color: #333333;
          font-weight: bold;
          text-shadow: 0 1px 1px white; }

  #hub-slide-16 .hub-subsection {
    margin-top: 0 !important; }
    #hub-slide-16 .hub-subsection#hub-16-00 {
      top: 10%; }
    #hub-slide-16 .hub-subsection#hub-16-01 {
      top: 30%; }
    #hub-slide-16 .hub-subsection#hub-16-02 {
      top: 50%; }
    #hub-slide-16 .hub-subsection#hub-16-03 {
      top: 70%; }
  #hub-slide-16 #hub-16-01, #hub-slide-16 #hub-16-02, #hub-slide-16 #hub-16-03 {
    display: block;
    margin: auto !important;
    position: absolute; }

  #hub-slide-17 {
    display: none; }

  #hub-slide-12 h1 {
    font-size: 32px; }

  #hub-slide-10.hub-section .hub-country-stats, #hub-slide-10-a.hub-section .hub-country-stats {
    background-color: transparent;
    bottom: 110px;
    right: auto;
    top: auto;
    left: auto; }
    #hub-slide-10.hub-section .hub-country-stats table tr td.td-right, #hub-slide-10-a.hub-section .hub-country-stats table tr td.td-right {
      width: 40%; }
    #hub-slide-10.hub-section .hub-country-stats table tr td.td-left, #hub-slide-10-a.hub-section .hub-country-stats table tr td.td-left {
      font-size: 24px;
      font-weight: bold;
      text-shadow: 0px 1px 1px black;
      width: 50%;
      color: #f47932; }
    #hub-slide-10.hub-section .hub-country-stats table tr td .country-stat-count, #hub-slide-10-a.hub-section .hub-country-stats table tr td .country-stat-count {
      font-size: 24px;
      vertical-align: bottom;
      font-weight: bold;
      display: inline-block;
      text-shadow: 0px 1px 1px black;
      color: #f47932;
      margin-bottom: -0.24em;
      padding-bottom: 10px; } }

/*# sourceMappingURL=mobile-custom.css.map */
