body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.mosaic-container {
  width: inherit;
  height: inherit;
  position: absolute;
  overflow: hidden;
  // z-index: 1000;
  z-index: 0;

  span.mosaic-item {
    display: inline-block;
    position: relative;

    img {
      width: inherit;
      height: inherit;

      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
section.hub-section {
  opacity: 0;
  background-size: cover;
  background-repeat: no-repeat;

  .hub-country-title {
    h2 {
      display: inline-block;
      margin: 0;
      padding: 20px 1%;
      background-color: rgba(78, 108, 6, 0.7);
      color: white;
      width: 98%;
      text-transform: uppercase;
      font-size: 3em;
      text-shadow: 2px 2px 2px rgba(10,10,10,0.4);
    }
  }
  .hub-country-stats {
    position: absolute;
    bottom: 4%;
    font-size: 2em;
    padding-left: 0.5em;
    width: 52%;
    background-color: rgba(0, 56, 86, 0.7);
    color: #f47932;
    padding-right: 0.5em;
    right: 0;

    ul {
      list-style-type: none;

      li {
          margin-bottom: 0.75em;
      }
    }

    &.abs-left {
      right: auto;
      left: 0;
    }
  }
}

.hub-viewport {
  height: inherit;
  width: inherit;
  position: relative;
  overflow: hidden;
}

#hub-slide-1 {
  background-image: url(../img/story/001.jpg);

  #hub-slide-1-good-news,
  #hub-slide-1-bad-news {
    position: absolute;
    left: 50%;
    padding-top: 5%;
    background-color: rgba(255,255,255,0.2);
    padding: 5% 2%;
    width: 40%;

    h1 {
      font-size: 2.5em;
      margin: 0;
      padding: 0;
      color: #333333;
      text-shadow: 2px 2px 2px rgba(255,255,255, 0.5);
      text-transform: uppercase;
    }

    p {
        font-size: 2em;
        font-size: #333333;
        line-height: 1.5;
        padding: 0;
        margin: 0;
        margin-top: 5%;
    }
  }

  #hub-slide-1-bad-news {
    display: none;

    h1, p {
      color: #CC0000;
    }
  }
}


.hub-neutral-background {
  background-size: cover;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;

  div.content {
      text-align: center;
      padding: 0 8%;
      top: 50%;
      position: absolute;
      z-index: 500;
    h1 {
      font-size: 5em;
      margin: 0;
      color: #990000;
      text-shadow: 2px 2px 2px rgba(10,10,10,0.5);
    }
    h2 {
      font-size: 3em;
      line-height: 1.5;
      margin: 0;

      color: whitesmoke;
    }
  }
}
div.hub-radial-overlay {
  width: inherit;
  height: inherit;
  z-index: 100;
  top: 0;
  left: 0;
  opacity: 0.3;
  background-color: whitesmoke;
  background: -webkit-radial-gradient(white, whitesmoke, gray); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(white, whitesmoke, gray); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(white, whitesmoke, gray); /* For Firefox 3.6 to 15 */
  background: radial-gradient(white, whitesmoke, gray); /* Standard syntax */
}

#hub-slide-4 {
  background-image: url(../img/story/002.jpg);
}

#hub-slide-5 {
  background-image: url(../img/story/003.jpg);
}

#hub-slide-6 {
  background-image: url(../img/story/004.jpg);
}

#hub-slide-7 {
  background-image: url(../img/story/005.jpg);
}

#hub-slide-8 {
  background-size: cover;
  background-image: url(../img/story/005.jpg);

  .hub-radial-overlay { opacity: 0.8; }
  .content {
    h2 { color: #333333; }
    h1 { font-size: 7em; }
  }
}

#hub-slide-10 {
  background-image: url(../img/story/006.jpg);
}

#hub-slide-12 {
  background-image: url(../img/story/007.jpg);
  .hub-radial-overlay { opacity: 0.8; }
  h2 {
    color: #333333;
    text-shadow: 2px 2px 2px rgba(255,255,255, 0.7);
  }
  h1 { font-size: 7em; }
}

#hub-slide-14 {
  background-image: url(../img/story/008.jpg);
}

#hub-slide-15 {
  background-image: url(../img/story/009.jpg);
}

#hub-slide-16 {
  background-position: center center !important;
  div.hub-radial-overlay {
    opacity: 0.8;
  }

  div.content h2 {
    color: #333333;
    text-shadow: 2px 2px 2px rgba(255,255,255, 0.6);
  }
}

