body,html {
  overflow: hidden;
}

.c3-circle {
  stroke-width: 0.4;
  r: 6px !important;
  stroke: white !important;
}

.c3-legend-item { text { fill: white; } }
.c3-axis {
  line, text { fill: white; stroke: white; }
}

#chart-container {
  left: 50%;

  #chart-area {
    .c3-line-People-Targeted, .c3-line-Funding-Requirement {
      stroke-width: 5;
    }
  }

  text {
    font-family: "Open Sans";
    color: white;
  }

}
body {
  margin: 0;

  padding: 0;
  font-family: 'Open Sans', sans-serif;

  background-size: cover;
  background-image: url(../img/bg-light.png);
  background-repeat: no-repeat;
}

#mosaic-area {
  background-size: cover;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;

  h1 {
  }
  h2 {
    font-size: 4em;
    text-shadow: 2px 2px 2px rgba(255,255,255,0.8);
  }
}
td.td-left {
  text-align: left;
}
td.td-right {
  text-align: right;
}
.clear { clear: both; }
.mosaic-container {
  width: inherit;
  height: inherit;
  position: absolute;
  overflow: hidden;
  // z-index: 1000;
  z-index: 0;

  span.mosaic-item {
    display: inline-block;
    position: relative;

    img {
      width: inherit;
      height: inherit;

      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
section.hub-section {
  opacity: 0;
  background-size: cover;
  background-repeat: no-repeat;

  .hub-country-title {
    h2 {
      display: inline-block;
      margin: 0;
      padding: 20px 1%;
      background-color: rgba(78, 108, 6, 0.7);
      color: white;
      width: 98%;
      text-transform: uppercase;
      font-size: 3em;
      text-shadow: 2px 2px 2px rgba(10,10,10,0.4);
    }
  }
  .hub-country-stats {
    position: absolute;
    bottom: 4%;
    font-size: 2em;
    padding-left: 0.5em;
    width: 52%;
    background-color: rgba(0, 56, 86, 0.7);
    color: #f47932;
    padding-right: 0.5em;
    right: 0;

    tr {
      list-style-type: none;

      td {
          margin-bottom: 0.75em;
          text-transform: uppercase;
          font-size: .6em;

          .country-stat-count {
              font-size: 2em;
              margin-right: 4px;
              vertical-align: top;
              margin-top: -8px;
              font-weight: bold;
              display: inline-block;
            }

          &.td-right {
            width: 20%;
          }
          &.td-left {
          }
      }
    }

    &.abs-left {
      right: auto;
      left: 0;
    }
  }
}

.hub-viewport {
  height: inherit;
  width: inherit;
  position: relative;
  overflow: hidden;
  .hub-photo-credit {

    position: absolute;
    bottom:0;
    left: 0;
    padding:2px 5px;
    // background-color: rgba(255,255,255,0.5);
    color: white;
    font-size: 10px;

    &.hub-photo-credit-right {
      left: auto;
      right: 0;
    }
  }
}

#hub-slide-1, #hub-slide-1-a {

  #hub-slide-1-good-news,
  #hub-slide-1-bad-news {
    position: absolute;
    left: 50%;
    padding-top: 5%;
    background-color: rgba(0, 56, 86, 0.7);
    color: #f47932;
    padding: 5% 2%;
    width: 40%;

    h1 {
      font-size: 2.5em;
      margin: 0;
      padding: 0;
      color: #f47932;
      text-transform: uppercase;
    }

    p {
        font-size: 2em;
        color: #f47932;
        line-height: 1.5;
        padding: 0;
        margin: 0;
    }
  }

  #hub-slide-1-bad-news {
/*    display: none;*/

    h1, p {
      color: #CC0000;
    }
  }
}


#hub-slide-1 {
  background-image: url(../img/story/good-news.jpg);
  #hub-slide-1-good-news {
      position: absolute;
      left: 0;
      padding-top: 5%;
      padding: 1% 0% 1% 3%;
      width: 97%;
      bottom: 0;
      h1 {
        font-size: 3.5em;
      }
      p,h1 {
        color: whitesmoke;
        text-transform: uppercase;
        font-weight: bold;
      }
  }
}

#hub-slide-1-a {
  background-image: url(http://ocha.smugmug.com/Themes/Refugees/i-Bz9vSdb/0/X3/UNI122853-X3.jpg);
  #hub-slide-1-bad-news {
    position: absolute;
    left: 0;
    padding-top: 5%;
    padding: 1% 0% 1% 3%;
    width: 97%;
    bottom: 0;
    h1 {
      font-size: 3.5em;
    }
    p,h1 {
      color: whitesmoke;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}


.hub-neutral-background {
  background-size: cover;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;

  div.content {
      text-align: center;
      padding: 0;
      top: 50%;
      position: absolute;
      z-index: 500;

      width: 84%;
      padding: 0 8%;

    h1 {
      font-size: 5em;
      margin: 0;
      color: #C50000;
      text-shadow: 2px 2px 2px rgba(10,10,10,0.5);
    }
    h2 {
      font-size: 3em;
      line-height: 1.5;
      margin: 0;

      color: whitesmoke;
    }
  }
}
div.hub-radial-overlay {
  width: inherit;
  height: inherit;
  z-index: 100;
  top: 0;
  left: 0;
  opacity: 0.3;
  background-color: whitesmoke;
  background: -webkit-radial-gradient(white, whitesmoke, gray); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(white, whitesmoke, gray); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(white, whitesmoke, gray); /* For Firefox 3.6 to 15 */
  background: radial-gradient(white, whitesmoke, gray); /* Standard syntax */
}

#hub-slide-4 {
  background-image: url(http://ocha.smugmug.com/Countries/IRQ/May-2015-CSB-mission/i-7Q5j5dK/0/X3/605A4408-X3.jpg);
}

#hub-slide-5 {
  background-image: url(http://ocha.smugmug.com/photos/i-X8CpcZG/0/X3/i-X8CpcZG-X3.jpg);
}

#hub-slide-6 {
  background-image: url(../img/story/004.jpg);
}

#hub-slide-7 {
  background-image: url(../img/story/005.jpg);
}
#hub-slide-10-a {
  background-image: url(../img/story/afghanistan.jpg);
}

#hub-slide-8 {
  background-size: cover;
  background-image: url(../img/story/ukraine.jpg);

  .hub-radial-overlay { opacity: 0.8; }
  .content {
    h2 { color: #333333; }
    h1 { font-size: 7em; }
  }
}

#hub-slide-10 {
  background-image: url(../img/story/006.jpg);
}

#hub-slide-10, #hub-slide-10-a {
  &.hub-section .hub-country-stats {
    // width: 100%;
    background-color: transparent;
    bottom: auto;
    right: auto;
    // top: 15%;
    // right: 0;

    table {
      // float: right;
      // width: 33em;
      tr td {
        &.td-right {
          width: 40%;
        }
        &.td-left {
          font-size: 1.3em;
          font-weight: bold;
          text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
          width: 50%;
          color: #C50000;
        }
        .country-stat-count {
          font-size: 3em;
          vertical-align: bottom;
          font-weight: bold;
          display: inline-block;
          text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
          color: #C50000;
          margin-bottom: -0.24em;
        }
      }
    }
  }
}
#hub-slide-10 .hub-country-stats{
  bottom: auto;
  top: 29%;
  left: 38%;
}

#hub-slide-12 {
  background-position: center 52%;
  background-image: url(../img/story/007.jpg);
  .hub-radial-overlay { opacity: 0.8; }
  h2 {
    color: #333333;
    text-shadow: 2px 2px 2px rgba(255,255,255, 0.7);
  }
  h1 { font-size: 7em; }
}

#hub-slide-14 {
  background-image: url(http://ocha.smugmug.com/Countries/Somalia/TOPPIC/i-XgpGxpP/0/X3/People%20displaced%20by%20Jowhar%20floods%20queue%20for%20food%20aid.%20Nov%202013.%20%C2%A9UN%20Photo%20Tobin%20Jones-X3.jpg);
}

#hub-slide-15 {
  background-image: url(http://ocha.smugmug.com/Countries/VUT/After-the-cyclone-Vanuatu-in-p/i-rBM2kTJ/0/X3/09%20Two%20months%20on-X3.jpg);
}

#hub-slide-16 {
  background-position: center center !important;
  div.hub-radial-overlay {
    opacity: 0.8;
  }

  div.content h2 {
    color: #333333;
    text-shadow: 2px 2px 2px rgba(255,255,255, 0.6);
  }
}

#hub-slide-2 {
  background-color: rgb(166, 193, 208);
  .content {
    text-align: center;
    h2 {
      font-size: 2.4em;
      padding: 0 2em;
      margin-top: 1.2em;
    }
  }
  #chart-container {
    position: absolute;
    bottom: 10px;
  }
}

#hub-slide-17 {
  background: url(../img/bg.png);
}

#hub-slide-2 {
  .content {
      top: 0;
    position: absolute;
    z-index: 500;
    width: 98%;
    padding: 0 1%;
    margin-top: 0 !important;
    text-shadow: 2px 2px 1px rgba(120,120,120 , 0.7);
    color: black !important;
  }
}
