$orange: #f47932;
$blue: rgb(0, 56, 86);
$red: #811B1B;
$lightblue: #1E7793;

body { margin: 0; padding: 0; }
#mosaic-area {
  /*background-color: black;*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/

  /*background-image: url(./img/story/000.jpg);*/
  background-position: center center;
}

#mosaic-overlay-area {

  position: absolute;
  z-index: 1000;
  width: inherit;
  height: inherit;
  opacity: 0.8;

  top: 0;
  left: 0;

  background: -webkit-radial-gradient(white, whitesmoke, black); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(white, whitesmoke, black); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(white, whitesmoke, black); /* For Firefox 3.6 to 15 */
  background: radial-gradient(white, whitesmoke, black); /* Standard syntax */

}

div.hub-radial-overlay-transparent {
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: 100;
  top: 0;
  left: 0;
  opacity: 0.3;
  background-color: whitesmoke;
  background: -webkit-radial-gradient(transparent, transparent, black); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(transparent, transparent, black); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(transparent, transparent, black); /* For Firefox 3.6 to 15 */
  background: radial-gradient(transparent, transparent, black); /* Standard syntax */
}

#mosaic-title-area {
  position: absolute;
  z-index: 2000;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;

  width: inherit;
  height: inherit;

  top: 0;
  left: 0;

}
#title-content { z-index: 500; }

#mosaic-title-area h1 {
  font-size: 8em;
  padding: 0 1em;
  margin: 0;
  /*margin-top: 1em;*/
  text-shadow: 0px 1px 1px rgb(255,255,255);
}



body,html {
  overflow: hidden;
}

.c3-circle {
  stroke-width: 0.4;
  r: 6px !important;
  stroke: white !important;
}

.c3-legend-item { text { fill: white; } }
.c3-axis {
  line, text { fill: white; stroke: white; }
}

#chart-container {
  left: 50%;
  width: 75%;
  #chart-area {
    .c3-line-People-Targeted, .c3-line-Funding-Requirement {
      stroke-width: 5;
    }
  }

  text {
    font-family: "Open Sans";
    color: white;
  }

}
body {
  margin: 0;

  padding: 0;
  font-family: 'Open Sans', sans-serif;

  background-size: cover;
  background-image: url(../img/bg-light.png);
  background-repeat: no-repeat;
}

#mosaic-area {
  background-size: cover;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;

  h1 {
  }
  h2 {
    font-size: 4em;
    text-shadow: 0px 1px 1px rgb(255,255,255);
  }
}
td.td-left {
  text-align: left;
}
td.td-right {
  text-align: right;
}
.clear { clear: both; }
.mosaic-container {
  width: inherit;
  height: inherit;
  position: absolute;
  overflow: hidden;
  // z-index: 1000;
  z-index: 0;

  span.mosaic-item {
    display: inline-block;
    position: relative;

    img {
      width: inherit;
      height: inherit;

      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
section.hub-section {
  opacity: 0;
  background-size: cover;
  background-repeat: no-repeat;

  .hub-country-title {
    h2 {
      display: inline-block;
      margin: 0;
      padding: 20px 1%;
      background-color: rgba(78, 108, 6, 0.7);
      color: white;
      width: 98%;
      text-transform: uppercase;
      font-size: 3em;
      text-shadow: 0px 1px 1px rgb(10,10,10);
    }
  }
  .hub-country-stats {
    position: absolute;
    bottom: 4%;
    font-size: 2em;
    padding-left: 0.5em;
    width: 52%;
    background-color: rgba(0, 56, 86, 0.7);
    color: #f47932;
    padding-right: 0.5em;
    right: 0;

    tr {
      list-style-type: none;

      td {
          margin-bottom: 0.75em;
          text-transform: uppercase;
          font-size: .6em;
          text-shadow: 0 1px 1px black;

          .country-stat-count {
              font-size: 2em;
              margin-right: 4px;
              vertical-align: top;
              margin-top: -8px;
              font-weight: bold;
              display: inline-block;
            }

          &.td-right {
            width: 20%;
          }
          &.td-left {
          }
      }
    }

    &.abs-left {
      right: auto;
      left: 0;
    }
  }
}

.hub-viewport {
  height: inherit;
  width: inherit;
  position: relative;
  overflow: hidden;
  .hub-photo-credit {

    position: absolute;
    bottom:0;
    left: 0;
    padding:2px 5px;
    // background-color: rgba(255,255,255,0.5);
    color: white;
    font-size: 10px;

    &.hub-photo-credit-right {
      left: auto;
      right: 0;
    }
  }
}

#hub-slide-1, #hub-slide-1-a {

  #hub-slide-1-good-news,
  #hub-slide-1-bad-news {
    position: absolute;
    left: 50%;
    padding-top: 5%;
    background-color: rgba(0, 56, 86, 0.7);
    color: #f47932;
    padding: 5% 2%;
    width: 40%;

    h1 {
      font-size: 2.5em;
      margin: 0;
      padding: 0;
      color: #f47932;
      text-transform: uppercase;
    }

    p {
        font-size: 2em;
        color: #f47932;
        line-height: 1.5;
        padding: 0;
        margin: 0;
    }
  }

  #hub-slide-1-bad-news {
/*    display: none;*/

    h1, p {
      color: #CC0000;
    }
  }
}


#hub-slide-1 {
  background-image: url(../img/story/good-news.jpg);
  #hub-slide-1-good-news {
      position: absolute;
      left: 0;
      padding-top: 5%;
      padding: 1% 0% 1% 3%;
      width: 97%;
      bottom: 0;
      h1 {
        font-size: 3.5em;
      }
      p,h1 {
        color: whitesmoke;
        text-transform: uppercase;
        font-weight: bold;
      }
  }
}

#hub-slide-1-a {
  background-image: url(../img/story/bad-news.jpg);
  background-position: bottom center;
  #hub-slide-1-bad-news {
    position: absolute;
    left: 0;
    padding-top: 5%;
    padding: 1% 0% 1% 3%;
    width: 97%;
    bottom: 0;
    h1 {
      font-size: 3.5em;
    }
    p,h1 {
      color: whitesmoke;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}


.hub-neutral-background {
  background-size: cover;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;

  div.content {
      text-align: center;
      padding: 0;
      top: 50%;
      position: absolute;
      z-index: 500;

      width: 84%;
      padding: 0 8%;

    h1 {
      font-size: 5em;
      margin: 0;
      color: #811B1B;
      text-shadow: 0px 1px 1px rgb(10,10,10);
    }
    h2 {
      font-size: 3em;
      line-height: 1.5;
      margin: 0;

      color: whitesmoke;
    }
  }
}
div.hub-radial-overlay {
  width: inherit;
  height: inherit;
  z-index: 100;
  top: 0;
  left: 0;
  opacity: 0.3;
  background-color: whitesmoke;
  background: -webkit-radial-gradient(white, whitesmoke, gray); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(white, whitesmoke, gray); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(white, whitesmoke, gray); /* For Firefox 3.6 to 15 */
  background: radial-gradient(white, whitesmoke, gray); /* Standard syntax */
}

#hub-slide-4 {
  background-image: url(../img/story/iraq.jpg);
}

#hub-slide-5 {
  background-image: url(../img/story/syria.jpg);
}

#hub-slide-6 {
  background-image: url(../img/story/004.jpg);
}

#hub-slide-7 {
  background-image: url(../img/story/005.jpg);
}
#hub-slide-10-a {
  background-image: url(../img/story/afghanistan.jpg);
}

#hub-slide-8 {
  background-size: cover;
  background-image: url(../img/story/ukraine.jpg);

  .hub-radial-overlay { opacity: 0.8; }
  .content {
    h2 { color: #333333; }
    h1 { font-size: 7em; }
  }
}

#hub-slide-10 {
  background-image: url(../img/story/006.jpg);
}

#hub-slide-10, #hub-slide-10-a {
  &.hub-section .hub-country-stats {
    // width: 100%;
    background-color: transparent;
    bottom: auto;
    right: auto;
    // top: 15%;
    // right: 0;

    table {
      // float: right;
      // width: 33em;
      tr td {
        &.td-right {
          width: 40%;
        }
        &.td-left {
          font-size: 1.3em;
          font-weight: bold;
          text-shadow: 0px 1px 1px rgb(255, 255, 255);
          width: 50%;
          color: #811B1B;
        }
        .country-stat-count {
          font-size: 3em;
          vertical-align: bottom;
          font-weight: bold;
          display: inline-block;
          text-shadow: 0px 1px 1px rgb(255, 255, 255);
          color: #811B1B;
          margin-bottom: -0.24em;
        }
      }
    }
  }
}
#hub-slide-10 .hub-country-stats{
  bottom: auto;
  top: 29%;
  left: 38%;
}

#hub-slide-12 {
  background-position: center 52%;
  background-image: url(../img/story/007.jpg);
  .hub-radial-overlay { opacity: 0.8; }
  h2 {
    color: #333333;
    text-shadow: 0px 1px 1px rgb(255,255,255);
  }
  h1 { font-size: 7em; }
}

#hub-slide-14 {
  background-image: url(../img/story/somalia.jpg);
}

#hub-slide-15 {
  background-image: url(../img/story/vanuatu.jpg);
}
#content-2-b { display: none; }

#hub-slide-16 {
  #hub-16-01, #hub-16-02, #hub-16-03 { display: none; }
  background-position: center center !important;
  div.hub-radial-overlay {
    opacity: 0.8;
  }

  div.content h2 {
    color: #333333;
    text-shadow: 0px 1px 1px rgb(255,255,255);
  }
}

#hub-slide-19 {
  h2 {
    font-size: 2.5em;
  }
}

#hub-slide-2 {
  background-color: rgb(166, 193, 208);
  .content {
    text-align: center;
    h2 {
      font-size: 2.4em;
      padding: 0 2em;
      margin-top: 1.2em;
    }
  }
  #chart-container {
    position: absolute;
    bottom: 10px;
  }
}

#hub-slide-17 {
  background: url(../img/bg.png);
}

#hub-slide-2 {
  .content {
      top: 0;
    position: absolute;
    z-index: 500;
    width: 98%;
    padding: 0 1%;
    margin-top: 0 !important;
    text-shadow: 0px 1px 1px rgb(120,120,120);
    color: black !important;
  }
}

#hub-call-to-action {
  background-image: url(../img/story/final.png);
  div.content {
    h2 {
      text-shadow: 0 1px 1px #000000;
      color: $orange;
      font-size: 4em;
    }

    #call-to-action-share {
      ul {
        padding: 0 10%;
        list-style-type: none;
        li {
          margin-bottom: 10px;
          text-align: left;
          a {
            text-decoration: none;
            img {
              width: 30px; height: 30px;

            }
            img, span {
              vertical-align: middle;
              color: white;
              font-weight: bold;
              text-shadow: 0px 1px 1px black;
            }
            &:hover {
              span {
                color: $orange;
              }
            }
          }

        }
      }
    }
    div#hub-call-to-action-area {
      margin-top: 20px;
      padding: 10px 15px 20px;
      border-radius: 5px;
      background-color: rgba(0, 56, 86, 0.5);
      color: white;

      div.hub-call-to-action-3box {
        width: 31%;
        float:left;
        margin-right: 2%;

        h3 {
          text-transform: uppercase;
          text-shadow: 0 1px 1px #000000;
          font-size: 2em;
        }

        img.img-left { float: left; margin-right: 5px; }
        &#call-download-report {
          table {
            display: inline-block;
            img { width: 90px; height: 128px; }
          }
        }
        p { text-align: left; }
        .fb-share-button { vertical-align: top; }

        a.hub-button {
          padding: 4px 12px;
          display: inline-block;
          background-color: #811B1B;
          border-radius: 4px;
          font-weight: bold;
          text-decoration: none;
          color: white;
          &:hover {
            background-color: $orange;
          }
        }
      }
    }


  }
}


/***
 Hubscroll area
 */

 aside.hubscroll-nav-area {
    position: fixed;
    margin-left: 5px;
    right: 10px;
    top: 50%;
    z-index: 100000;

    nav.hubscroll-nav-viewport {

      ul.hubscroll-nav-list {
        margin: 0;
        padding: 0;

        li.hubscroll-nav-list-item {

          height: 16px;
          width: 6px;

          position: relative;
          list-style-type: none;

          a {
            position: absolute;
            left: 0;
            top: 0;
            display: inline-block;
            padding: 3px;
            border-radius: 3px;

            background-color: rgba(255,255,255,0.5);

            &.hubscroll-nav-active, &:hover {
              top: -3px;
              left: -3px;
              padding: 6px;
              border-radius: 6px;
            }
          }
        }
      }
    }
 }

$phone-min-width: 320px;
$phone-max-width: 736px;

/* For Phones! */
@media only screen
  and (min-width: $phone-min-width)
  and (max-width: $phone-max-width) {

  //Hide nav
  aside.hubscroll-nav-area {
    display: none;
  }

  section.hub-section {
    background-position: center center !important;
  }
  #mosaic-title-area {
    h1 {
      font-size: 3.5em;
    }

    h2 {
      font-size: 2.5em;
    }
  }

  section.hub-section {
    div.hub-viewport {
      div.hub-country-title {
        position: absolute;
        // left: -50px;
        // bottom: 59px;
        // -webkit-transform: rotate(90deg);
        // -ms-transform: rotate(90deg);
        // transform: rotate(90deg);
        width: 98%;
        top: 0;
        h2 {
          font-size: 2em;
          background-color: transparent;
          color: rgb(78, 108, 6);
          padding: 1%;
          margin: 0;
        }
      }
      div.hub-country-stats {
        position: absolute;
        bottom: 4%;
        font-size: 2em;
        padding-left: 0.5em;
        width: 100%;
        background-color: transparent;
        color: #f47932;
        padding-right: 0.5em;
        right: auto;
        text-shadow: 0 1px 1px black;
        table {
          width: 90%;
          border-spacing: 0;
          tr:first-child td {
            border: 2px solid rgb(77, 53, 53);
            border-width: 0 0 2px;
          }
          tr:last-child td {
            padding-top: 5px;
          }

          tr td {
            font-weight: bold;
            text-shadow: 0 1px 1px black;
          }
        }
      }
    }
  }

  #hub-slide-1, #hub-slide-1-a {
    background-image: url(../img/story/small/good-news.jpg);

    .hub-viewport {
      // background-color: rgba(0, 56, 86, 0.2);

      #hub-slide-1-good-news, #hub-slide-1-bad-news {
        background-color: transparent;
        margin-bottom: 1em;
        h1 {
          font-size: 1em;
          text-transform: uppercase;
          font-weight: bold;
          text-shadow: 0 1px 1px rgb(0,0,0);
        }
        p {
          text-transform: none;
          font-weight: normal;
          text-shadow: 0 1px 1px rgb(0,0,0);
          line-height: 1.2;
        }
      }
    }
  }
  #hub-slide-1-a { background-image: url(../img/story/small/bad-news.jpg); }
  #hub-slide-2 {
    #chart-container { width: 100%; }
    .content h2 {
      font-size: 1.4em;
      padding: 0 1em;
      margin-top: 25%;
    }
  }
  #hub-slide-4 {
    background-image: url(../img/story/small/iraq.jpg);
  }
  #hub-slide-5 {
    background-image: url(../img/story/small/syria.jpg);
  }
  #hub-slide-6 {
    background-image: url(../img/story/small/004.jpg);
  }

  //Yemen
  #hub-slide-7 {
    background-image: url(../img/story/small/005.jpg);
  }

  #hub-slide-8 {
    background-size: cover;
    background-image: url(../img/story/small/ukraine.jpg);
  }

  #hub-slide-10 {
    &.hub-section {
      background-image: url(../img/story/small/006.jpg);
      background-position: center right !important;
    }
  }

  //Afghanistan
  #hub-slide-10-a {
    &.hub-section {
      background-image: url(../img/story/small/afghanistan.jpg);
      background-position: center right !important;
    }
  }

  //Sahel
  #hub-slide-12 {
    background-image: url(../img/story/small/007.jpg);
  }

  //Somalia
  #hub-slide-14 {
    background-image: url(../img/story/small/somalia.jpg);
  }

  #hub-slide-15 {
    background-image: url(../img/story/small/vanuatu.jpg);
  }

  #hub-slide-19 {
    h2 {
      font-size: 1.2em;
    }
  }

  .hub-neutral-background div.content {
    h1 { font-size: 2em; }
    h2 {
      font-size: 1.5em;
      padding: 0 1em;
      // margin-top: 25%;
      font-weight: normal;
      line-height: 1.5;

    }
  }

  #hub-call-to-action {
    background-image: url(../img/story/small/final.png);
    div.content {
      div#hub-call-to-action-area div.hub-call-to-action-3box {
        width: 100%;
        float: none;
        margin-right: 0;

        &#call-download-report {
          img {
            height: 75px;
            margin-right: 10px;
          }
        }

        h3 {
          text-align: left;
          color: $orange;
          margin-bottom: 2px;
        }
        p {
          margin: 0;
          margin-bottom:5px;
        }
      }
    }
  }


  #hub-slide-10, #hub-slide-10-a {
    &.hub-section .hub-country-stats {
      // width: 100%;
      background-color: transparent;
      bottom: 10px;
      right: auto;
      top: auto;
      left: auto;

      table {
        // float: right;
        // width: 33em;
        tr td {
          &.td-right {
            width: 40%;
          }
          &.td-left {
            font-size: 1em;
            font-weight: bold;
            text-shadow: 0px 1px 1px black;
            width: 50%;
            // color: #811B1B;
            color: $orange;
          }
          .country-stat-count {
            font-size: 1.5em;
            vertical-align: bottom;
            font-weight: bold;
            display: inline-block;
            text-shadow: 0px 1px 1px black;
            // color: #811B1B;
            color: $orange;
            margin-bottom: -0.24em;
              padding-bottom: 10px;
          }
        }
      }
    }
  }
}
